{% extends "base.html" %}

{% block side_menu %}
    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="{% url 'note_update' note.pk %}">Update</a>
    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="{% url 'note_delete' note.pk %}">Delete</a>
    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="{% url 'note_list' %}">Back to note list</a>
{% endblock %}

{% block main_content %}
    <div style="margin: 20px 100px 0 0; border-radius: 10px; padding: 10px;">
        <h2 class="note-title">{{ note.name }}</h2>
        <p>{{ note.text }}</p>

        <p style="margin-bottom: 0px;">Created by: {{ note.user }}</p>
        <p>Topic: {{ note.topic }}</p>
    </div>
{% endblock %}